In [37]:
#Импорт необходимых библиотек
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [38]:
Metal = "Ti"
Sigma = "150.3"
print(Metal)
print(Sigma)

Ti
150.3

In [41]:
!dir

 ’®¬ ў гбва®©бвўҐ D Ё¬ҐҐв ¬ҐвЄг Ќ®ўл© в®¬
 ‘ҐаЁ©­л© ­®¬Ґа в®¬ : 3297-7F45

 ‘®¤Ґа¦Ё¬®Ґ Ї ЇЄЁ D:\JuPyter\JuPyter

02.06.2022  13:45    <DIR>          .
02.06.2022  13:45    <DIR>          ..
01.06.2022  11:37    <DIR>          .ipynb_checkpoints
01.06.2022  10:47    <DIR>          ORIENT_DATA[110]
01.06.2022  10:47    <DIR>          Potential
01.06.2022  10:47    <DIR>          STR
31.05.2022  11:36               534 Test
31.05.2022  11:27             2я978 VFE.lmp
01.06.2022  13:39                 0 VfeAtoms.txt
02.06.2022  13:45            22я892 VfeTest.ipynb
02.06.2022  12:58                 0 Vfe_data.txt
               5 д ©«®ў         26я404 Ў ©в
               6 Ї Ї®Є  520я184я037я376 Ў ©в бў®Ў®¤­®

In [44]:
BoxSim = pd.read_csv('STR/Ti_150.3.lmp', header = 9 ,sep = ' ')

In [43]:
AtomId = pd.read_csv('STR/Test' , header = 9, sep = ' ' , names = ["x","y","z","Type","id"])
AtomId

           x         y        z  Type   id
0   1.680950  3.213988 -5.13586     1  185
1   4.467183  2.279057 -2.21586     1   10
2   6.982672  2.153334 -0.75586     1   30
3   4.467183  2.279057 -5.13586     1  187
4   6.982672  2.153334 -3.67586     1  207
5   6.315596  4.493918 -2.21586     1   29
6   6.315596  4.493918 -5.13586     1  206
7   9.081803  3.365523 -2.21586     1   31
8   9.081803  3.365523 -5.13586     1  208
9  11.555950  3.213988 -0.75586     1   51

In [6]:
#ДатаФрейм !!!!!
df = pd.read_csv('STR/Test' , header = 9, sep = ' ' , names = ["x","y","z", "Type" , "id"])
#выводит инфу по строкам
#df.columns
#Фильтр для значений таблицы
filter_x = df['x'] > 5
filter_y = df['y'] > 2
filter_z = df['z'] > -2
a = df.loc[filter_x & filter_y & filter_z]

In [13]:
#Подсчет количества строк!!
len(a)

2

In [11]:
Da = pd.DataFrame(a)
print(Da)

           x         y        z  Type  id
2   6.982672  2.153334 -0.75586     1  30
9  11.555950  3.213988 -0.75586     1  51

In [17]:
#Получение id атомов из файла
for i in range(len(a)):
    print(Da.iloc[i]['id'])

30.0
51.0

In [23]:
Da[['id','x', 'y', 'z']]

   id          x         y        z
2  30   6.982672  2.153334 -0.75586
9  51  11.555950  3.213988 -0.75586

In [8]:
print(a)

           x         y        z  Type  id
2   6.982672  2.153334 -0.75586     1  30
9  11.555950  3.213988 -0.75586     1  51

In [9]:
df.iloc[1]['id']

10.0

In [13]:
nmp=AtomId.to_numpy()
print(nmp[0][1])

3.213988308

In [20]:
#информация по строкам в файле
rows, columns = nmp.shape
print("Строк = ",rows)
print("Столбцы = ", columns)

Строк =  10
Столбцы =  5

In [32]:
for i in range(rows):
    for j in range(columns): 
        if (nmp[i,0] > 5):
         #f2 = open('VfeAtoms.txt', 'w')
         #f2.write(nmp[i,j])
            np.savetxt("NpVFE.txt", nmp[i,j])

ValueError: Expected 1D or 2D array, got 0D array instead

In [ ]:
#Чтение файла данных и запись в таблицу
DataDiff = pd.read_csv('GBDATA.out', header = 1, sep=' ' , names=["Step" ,"MSD", "TwoPoint" , "FotSlope"] )
#Вывод таблицы
DataDiff

In [ ]:
#Запуск LAMMPS (однопоток)
!"C:/Program Files/LAMMPS/bin/lmp.exe" < in.msd.2d.lmp

In [ ]:
#Построение графика
DataDiff.plot(kind='scatter',x='Step',y='MSD', color = 'green' , label="MSD_X" )