In [7]:
#Импорт необходимых библиотек
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [8]:
Metal = "Ti"
Sigma = "150.3"
print(Metal)
print(Sigma)

Ti
150.3

In [19]:
AtomId = pd.read_csv('STR/Test' , header = 9, sep = ' ' , names = ["x","y","z","Type","id"])
AtomId

           x         y        z  Type   id
0   1.680950  3.213988 -5.13586     1  185
1   4.467183  2.279057 -2.21586     1   10
2   6.982672  2.153334 -0.75586     1   30
3   4.467183  2.279057 -5.13586     1  187
4   6.982672  2.153334 -3.67586     1  207
5   6.315596  4.493918 -2.21586     1   29
6   6.315596  4.493918 -5.13586     1  206
7   9.081803  3.365523 -2.21586     1   31
8   9.081803  3.365523 -5.13586     1  208
9  11.555950  3.213988 -0.75586     1   51

In [ ]:
#Чтение файла данных и запись в таблицу
DataDiff = pd.read_csv('GBDATA.out', header = 1, sep=' ' , names=["Step" ,"MSD", "TwoPoint" , "FotSlope"] )
#Вывод таблицы
DataDiff

In [ ]:
#Запуск LAMMPS (однопоток)
!"C:/Program Files/LAMMPS/bin/lmp.exe" < in.msd.2d.lmp

In [ ]:
#Построение графика
DataDiff.plot(kind='scatter',x='Step',y='MSD', color = 'green' , label="MSD_X" )